* {
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.mt-20 {
    margin-top: 20px;
}

.title-box {
    text-align: center;
}

.tip-box {
    height: 200px;
    background-color: #111111;
    color: green;
    padding: 16px;
    font-size: .8em;
    overflow-y: scroll;
    border-radius: 6px;
}

.input-box {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}